@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);
$Soft-dark-red: #d84e72;
$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$Very-dark-blue: hsl(235, 16%, 14%);
$Very-dark-blackish-blue: hsl(234, 17%, 12%);

$desktop: 1440px;

@mixin desktop {
  @media screen and(min-width:$desktop) {
    @content;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
    background: darken($Dark-desaturated-blue, 4%);
    color: $Soft-dark-red;
    box-shadow: 0 -1px 0 rgba($Grayish-blue, 0);
  }

  40% {
    background: darken($Dark-desaturated-blue, 7%);
    color: darken($Soft-dark-red, 4%);
    box-shadow: 0 -1px 0 rgba($Grayish-blue, 0.4);
  }

  60% {
    background: lighten($Dark-desaturated-blue, 4%);
    color: lighten($Soft-dark-red, 4%);
    box-shadow: 0 -1px 0 rgba($Grayish-blue, 0.5);
  }

  100% {
    transform: rotateX(-180deg);
    background: $Dark-desaturated-blue;
    color: $Soft-red;
    box-shadow: 0 -1px 0 rgba($Grayish-blue, 0);
  }
}
